<!DOCTYPE html>
<html>
<head><title>example service documentation :: PHPREST</title></head>
<body>
<h1>Service: Example</h1>
<p class="description">Example service is designed to run CRUD operations on a 
	sample table</p>

<h2>Operation: insert</h2>
<p class="operation">Inserts a row in the table</p>

<h2>Operation: read</h2>
<p class="operation">Reads a row from the table and returns a json_encoded object</p>

<h2>Operation: delete</h2>
<p class="operation">Deletes a row from the table</p>

<h2>Operation: update</h2>
<p class="operation">Updates a row from the table</p>

</body>
</html>